<div class="ui one column stackable center aligned page grid">
  <div class="column sixteen wide">
    <h1>Mi Biblioteca</h1>


    <div class="left floated right aligned sixteen wide column">
      <h2>A Home Library Management Tool</h2>
      <div class="ui segment">
        <%=image_tag("book_pic.jpg", alt: "Book Pic")%>

        <div class="left floated right aligned sixteen wide column">
          <div class="ui segment">
            <h2>~ Add Book to Library</h2>

            <div class="field">
              Title:
              <input type="text_field" name="title" value="" id="title">
            </div>

            <div class="field">
              Thoughts:
              <input type="text_field" name="thoughts" value="" id="thoughts">
            </div>

            <div class="ui button" "actions">
              <%= link_to 'Save Book', "#", {id: "new_book"} %>
            </div>
          </div>
        </div>
      </div>

      <table class="ui table">
        <thead>
          <tr>
            <th>Book Title:</th>
            <th>Thoughts:</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.thoughts %></td>
            <td><%= link_to 'View Book Details', book, {id: "#{book.id}", class: "view-details", :data => {:title => "#{book.title}", :thoughts => "#{book.thoughts}"}} %></td>
            <td><%= link_to 'Edit', edit_book_path(book), {id: "#{book.id}", class: "edit-details", :data => {:title => "#{book.title}", :thoughts => "#{book.thoughts}"}} %></td>
            <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure you wish to delete?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
          Book Details
        </div>
        <div class="content">
          <div class="image">
            <!-- An image can appear on left or an icon -->
          </div>
          <div class="description">
            <!-- A description can appear on the right -->
          </div>
        </div>
        <div class="actions">
          <div class="ui button">Cancel</div>
          <div class="ui button">OK</div>
        </div>
      </div>

    </div>
  </div>
</div>
